header {
  display: flex;
}

body {
  text-align: left;
  margin-left: 3rem;
  margin-right: 3rem;
  letter-spacing: .05rem;
  font-family:'Montserrat';
  background-color: #141414;
  color: #FFF0C7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cigra';
  color: #FFF0C7;
}

p {
  font-family:'Montserrat';
}

.title{
  flex: 1;
  flex-wrap: wrap;
}

.title-text {
  text-decoration: none;
}

.main-nav {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-items: right;
  text-align: right;
  flex-wrap: wrap;
  flex: 2;
}

.element {
  padding-bottom: 1rem;
  border-top-width: 0.25rem;
  border-top-style: solid;
  border-top-color: #37523A;
}

nav a {
  font-weight: bold;
  margin: 1rem;
  color: #FFF0C7;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover, nav a:focus {
  font-weight: bolder;
  text-decoration: none;
  color: #9EB995;
}

nav {
 text-align: center;
}

code {
  border: none;
  border-radius: 1rem;
  background-color: #EEE;
  padding: 0.5rem;
  display: inline-block;
  color: black;
}

img {
  max-width: 30rem;
}

.in-text-link {
  color: #9EB995;
}

label {
  font-size: .8rem;
}

.in-text-link:hover, .in-text-link:active {
  font-style: italic;
  color: #9EB995;
  text-decoration: none;
}

.button {
  border: none;
  text-align: center;
  border-radius: 1rem;
  display: inline-block;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #FFF0C7;
  background-color: #37523A;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.6s;
}

.button:hover, .button:focus {
  background-color: #9EB995;
}

.text-input {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: .1rem;
}

.image-link * {
  box-sizing: border-box;
  transition: all 0.5s;
}

.image-link img {
  vertical-align: top;
  backface-visibility: hidden;
}

.image-link:hover > img {
  opacity: 0.7;
}

.image-link:active :focus {
  opacity: 0.4;
}

 .contact {
  display: inline-block;
  padding: .5rem;
  border: solid #FFF0C7;
  border-radius: 1rem;
}

.about-info {
  display: flex;
  margin: 5rem;
}

.about-text{
  flex: 2;
  padding-top: 5rem;
}

.about-img-container {
  flex: 1;
  margin-left: 3rem;
}

.about-img {
  min-width: 100%;
}

.home-text-container {
  display: flex;
  flex-wrap: wrap;
  border-color: white;
  border: 2px;
  margin-top: 5rem;
  margin-left: 8rem;
  margin-right: 8rem;
  justify-content: center;
  align-items: center;
}

.description-flexbox {
  font-size: 1.5rem;
}
